.venv
data
.env
.env.example
watchlist.toml
watchlist.example.toml
tests
.pytest_cache
__pycache__
*.pyc
*.md
.gitignore
.dockerignore
Dockerfile
compose.yaml
compose.build.yaml
deploy
.gitattributes
